body {
  margin: 0;
  background-color: aquamarine;
}
main {
  background-color: white;
  width: 70%;
  margin: 0 auto 1rem auto;
  padding: 0 1rem 2rem 1rem;
}

header {
}

legend {
  color: darkgreen;
  font-variant: small-caps;
  font-size: 1.5rem;
  padding: 0 1rem;
  margin: 0 30%;
}
