* {
  font-family: sans-serif;
  box-sizing: border-box;
}

h1 {
  width: 100%;
  text-align: center;
  padding: 1rem;
  margin: 0;
}

body {
  margin: 0;
  background-color: aquamarine;
}
main {
  background-color: white;
  width: 50%;
  margin: 1rem auto;
  padding: 0 1rem 2rem 1rem;
  border-radius: 0.5rem;
}

fieldset {
  border-radius: 0.25rem;
}

legend {
  color: darkgreen;
  font-size: 1.5rem;
  padding: 0 1rem;
  text-align: center;
}

p {
  margin: 0;
}

#name,
#email,
select,
#comment {
  width: 100%;
  padding: 0.4rem 0.25rem;
  margin-bottom: 1rem;
}

button {
  width: 100%;
  background-color: green;
  color: white;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 0;
  border-radius: 0.25rem;
}
